@model IEnumerable<COMP_2007_Assignment1.Controllers.Genre>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <button type="button" class="btn btn-success">@Html.ActionLink("Create New", "Create")</button>
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GenreName)
        </th>
        <th>
           @Html.DisplayNameFor(model => model.GenreDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <button type="button" class="btn btn-secondary">@Html.ActionLink(item.GenreName, "Browse", "Series", new { id = item.GenreID }, null)</button>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GenreDescription)
        </td>
        <td>
            <button type="button" class="btn btn-warning">@Html.ActionLink("Edit", "Edit", new { id=item.GenreID })</button>
            <button type="button" class="btn btn-info">@Html.ActionLink("Details", "Details", new { id=item.GenreID })</button>
            <button type="button" class="btn btn-danger">@Html.ActionLink("Delete", "Delete", new { id=item.GenreID })</button>
        </td>
    </tr>
}

</table>
